<div class="container">

  <div class="card-book d-flex  my-4 justify-content-center">
    <div class="card-book-body d-flex my-2 px-3">
      <p> <%= @book.title %>
      <p> <%= @book.author%></p>
      <p> <%= @book.year %></p>
      <p>What about this book...</p>
      <p> <%= @book.resume %></p>
      <p> Price <%= @book.price %>€ </p>
    </div>
  </div>

  <%= link_to "Back", books_path %>

</div>
